<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/darkly/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <title>LocalCloud</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">LocalCloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/files"">Files</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <br />

      <h1>Coming Soon...</h1>

      <!--
        <div class="admin">
              <div class="adminMenu">
      
                  <img id="adminLogo" alt="Admin logo" src="/img/admin.png">
      
                  <div class="container">
                      <form method="POST" action="/admin/username">
                          <div class="form-group">
                              <label for="usernameInput" class="form-label mt-4">Change Username</label>
                              <input type="text" name="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="New Username" maxlength="25" required>
                          </div>
      
                          <br />
      
                          <button type="submit" class="btn btn-success">Change</button>
                      </form>
                  </div>
      
                  <br />
      
                  <div class="container">
                      <form method="POST" action="/admin/password">
                          <div class="form-group">
                              <label for="passwordInput" class="form-label mt-4">Change Password</label>
                              <input type="password" name="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp" placeholder="New Password" maxlength="75" required>
                          </div>
      
                          <br />
      
                          <button type="submit" class="btn btn-success">Change</button>
                      </form>
                  </div>
      
              </div>
        </div>
      -->

  </body>
</html>
