<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">

    <link href="/css/style.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/darkly/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <title>LocalCloud</title>
  </head>
  <body>

        <div class="login">
              <div class="loginForm">
      
                  <img id="loginLogo" alt="Login logo" src="img/login.png">
      
                  <div class="container">
                      <form method="POST" action="/login">
                          <div class="form-group">
                              <label for="usernameInput" class="form-label mt-4">Username</label>
                              <input type="text" name="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Username" maxlength="25">
                          </div>
      
                          <div class="form-group">
                              <label for="passwordInput" class="form-label mt-4">Password</label>
                              <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password" maxlength="75">
                          </div>
      
                          <br />
      
                          <button type="submit" class="btn btn-success">Login</button>
                      </form>
                  </div>
      
              </div>
        </div>

  </body>
</html>
