<template>
  <div class="admin">
    <template>
        <div class="adminMenu">

            <img id="adminLogo" alt="Admin logo" src="/public/img/admin.png">

            <div class="container">
                <form method="POST" action="/admin/username">
                    <div class="form-group">
                        <label for="usernameInput" class="form-label mt-4">Change Username</label>
                        <input type="text" name="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="New Username" maxlength="25">
                    </div>

                    <br />

                    <button type="submit" class="btn btn-success">Change</button>
                </form>
            </div>

            <br />

            <div class="container">
                <form method="POST" action="/admin/password">
                    <div class="form-group">
                        <label for="passwordInput" class="form-label mt-4">Change Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp" placeholder="New Password" maxlength="75">
                    </div>

                    <br />

                    <button type="submit" class="btn btn-success">Change</button>
                </form>
            </div>

        </div>
    </template>
  </div>
</template>