<template>
  <div class="error404">
    <br />
    <template>
        <div class="error404Message">

            <br />
            <h1 class="text-danger">404 ERROR NOT FOUND</h1>

        </div>
    </template>
  </div>
</template>