<template>
  <div class="errorUpload">
    <br />
    <template>
      <div class="errorUploadMessage">
        
        <br />
        <h1 class="text-danger">Something failed while trying to upload a file!</h1>


      </div>
    </template>
  </div>
</template>